html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  font-family: sans-serif;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

header {
  margin-top: 17px;
}

.div-header {
  color: white;
  background-image: url(../img/zoom_code.png);
  box-sizing: border-box;
  background-color: white;
  border: 2px solid white;
  padding: 30px 10px 46px 30px;
  font-size: 15px;
}

.magazine-title {
  font-size: 25px;
}

.card {
  color: #0e6b4a;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 16px;
  margin-bottom: 20px;
}

.number {
  font-style: italic;
  color: #2afca6;
  font-weight: normal;
}

.caption {
  color: #a4a4a4;
  font-size: 12px;
}

.date {
  color: black;
}

.name {
  color: #2afca6;
}

div {
  background-color: #2afca6;
  color: #0e6b4a;
  padding: 25px 30px 30px 31px;
  margin-top: 20px;
}

article {
  background-color: white;
  padding: 10px 30px 15px 30px;
  margin-top: 20px;
  padding-bottom: 30px;
}

figure {
  margin: 20px 0px;
  box-shadow: 1px 1px 1em black;
  font-size: 12px;
}

figcaption {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 10px;
}

.button {
  font-size: 10px;
  text-decoration: none;
  color: white;
  background-color: #444444;
  padding: 5px 15px;
}

footer p {
  border: 2px solid #2afca6;
  color: white;
  text-align: center;
  font-size: 10px;
  margin: 20px 0;
  padding: 17px;
}