html {
  scroll-behavior: smooth;
  padding: 20px;
}

body {
  max-width: 320px;
  margin: auto;
  font-family: sans-serif;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.div-header {
  color: white;
  background-image: url(../img/zoom_code.png);
  box-sizing: border-box;
  background-color: white;
  border: 2px solid white;
  margin: 0px 0px 20px;
  padding: 50px 30px;
  font-size: 16px;
}

.magazine-title {
  font-size: 26px;
  margin: 0px 0px 20px;
}

.tageline {
  font-size: 16px;
  margin: 0px;
}

.card {
  color: #0e6b4a;
  margin: 0px 0px 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 16px 0px;
}

h1 {
  font-size: 16px;
  margin: 0px 0px 20px;
}

.number {
  font-size: 26px;
  font-style: italic;
  color: #2afca6;
  font-weight: normal;
}

.caption {
  color: #a4a4a4;
  font-size: 12px;
  margin: 12px 0px;
}

.date {
  color: black;
}

.name {
  color: #2afca6;
}

div {
  background-color: #2afca6;
  color: #0e6b4a;
  padding: 30px;
  margin: 0px 0px 20px;
}

article {
  background-color: white;
  padding: 10px 30px 15px 30px;
  margin: 0px 0px 20px;
  padding: 30px;
}

figure {
  margin: 0px 0px 32px;
  box-shadow: 0px 0px 10px 0px grey;
}

figcaption {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 5px 10px;
}
.button {
  font-size: 10px;
  text-decoration: none;
  color: white;
  background-color: #444444;
  padding: 5px 15px;
}

footer {
  border: 2px solid #2afca6;
  text-align: center;
  padding: 5px;
  box-shadow: 0 0 12px #2afca6;
}

footer p {
  font-size: 10px;
  color: white;
  margin: 10px 0px;
}